HOST=0.0.0.0
PORT=1337
SERVER_URL=http://localhost:1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

APP_ENV=development|production

DATABASE_CLIENT=mysql
DATABASE_URL=192.168.0.150
DATABASE_HOST=192.168.0.150
DATABASE_PORT=3306
DATABASE_NAME=funds
DATABASE_USERNAME=funds
DATABASE_PASSWORD=Funds@123

DEV_SMTP_HOST=smtp.gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_DEFAULT_FROM=support@ndtech.cloud
SMTP_DEFAULT_REPLY=support@ndtech.cloud